<!--start of the contact.erb-->
	<div id="mySubTitle">The Finest Furniture in New York</div>
	<form>
		<div id="labelFullName">Full Name: </div>
		<input type="text" id="userFullName" name="userFullName">
		<br><br><br><br><br>
		<div id="labelMail">Email:</div>
		<input type="text" id="mail" name="mail">
		<br><br><br><br>
		<div id="labelTextArea">Message:</div>
		<textarea id="userText" rows="5" cols="30">
		</textarea>
		<br><br><br><br>
		<button id="submitMail">Submit</button><br><br>
	</form>


<!--end of the contact.erb-->



