<!--start of the home.erb-->
	<div id="mySubTitle">The Finest Furniture in New York</div>

	<div>
		<img id="homepics" src="/images/Furniture-Bedroom Set.png" />
	</div>
	<div>
		<img id="homepics" src="/images/Furniture-Couch.png" />
	</div>
	<div>
		<img id="homepics" src="/images/Furniture-Dining Room Set.png" />
	</div>

<!--end of the home.erb-->



