<!--start of the images.erb-->
	<div id="myTitle">ABC Corporation</div>
	<div id="mySubTitle">New Yorks Finest</div>
	<% @favs.each do |fine| %>
		<img src="images/<%= fine %>" />
	<% end %>



<!--end of the images.erb-->



