<!--start of the images.erb-->
	<div id="mySubTitle">The Finest Staff Anywhere</div>

	<div class="hover01 column">
		<div >
			<figure><img src="/images/Jeremy_Snepar.jpg" /></figure>
			<span>Jeremy Snepar</span>
		</div>
		<div>
			<figure><img src="/images/Bill_Glass.jpg" /></figure>
			<span>Bill Glass</span>
		</div>
		<div>
			<figure><img src="/images/Cam_Crews.jpg" /></figure>
			<span>Cam Crews</span>
		</div>
		<div>
			<figure><img src="/images/Erinn Beresford.png" /></figure>
			<span>Erinn Beresford</span>
		</div>
		<div>
			<figure><img src="/images/Mike_Miller.jpg" /></figure>
			<span>Mike Miller</span>
		</div>
		<div>
			<figure><img src="/images/Sam_Lubin.jpg" /></figure>
			<span>Sam Lubin</span>
		</div>
		<div>
			<figure><img src="/images/Krystal_Kaplan.jpg" /></figure>
			<span>Krystal Kaplan</span>
		</div>
		<div>
			<figure><img src="/images/Stephanie_Nacho_Mathison.jpg" /></figure>
			<span>Stephanie Nacho Mathison</span>
		</div>
		<div>
			<figure><img src="/images/Charles_Snepar.jpg" /></figure>
			<span>Charles Snepar</span>
		</div>
	</div>



	<br><br><br><br><br><br><br><br>
<!--end of the images.erb-->











