<!--start of the login.erb-->
	<div id="mySubTitle">The Finest Furniture in New York</div>
	<form>
		<div id="labelName">User Name: </div>
		<input type="text" id="userName" name="userName">
		<br><br><br><br><br>
		<div id="labelPswd">Password:</div>
		<input type="text" id="password" name="password">
		<br><br><br><br>
		<button id="submit">Submit</button>
	</form>


<!--end of the login.erb-->



