<!--start of the images.erb-->
	<div id="mySubTitle">The Finest Staff Anywhere</div>

	<% @favs.each do |fine| %>
		<img src="images/<%= fine %>" />
	<% end %>
	<br><br><br><br><br><br><br><br>

<!--end of the images.erb-->



